@media (max-width:500px){
    .hideOnMobile{
        display: none !important;
        font-size: 1rem;
    }
    .main-div{
        padding: 0em 2em;
        padding-bottom: 2em;
    }

    .creation {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }  
    
    .main-div .content-div{
        width: 100%;
    }

    .menu-btn{
        display: block;
    }

    /*BUTTON PORTFOLIO*/
    .main-div .nav-btn button{
        padding: .5em;
    }

    /*HERO SECTION*/
    .section .content{
        font-size: .5rem; 
        padding-top: 5em;
        padding-left: 2em;

    }

    .name #weight-normal{
        font-size: 2rem; 
    }

    .name #weight-bold{
        font-size: 2rem; 
    }

    .name #weight-light{
        font-size: .9rem; 
    }

    .hero{
        height: 100vh;
    }

    /*ABOUT*/
    .about{
        height: 100vh;
    }

    .about .contact{
        margin-top: 2em;
    }

    .about .location{
        padding-bottom: 3em;
    }

    /*RESUME*/
    .resume{
        height: 100vh;
    }
}

@media (max-width:768px){
  /*HERO SECTION*/
    .section .content{
        max-width: 90%;  
        padding-top: 35em;
        padding-left: 2em;
    }

    .about{
        height: auto;
    }
}

@media (min-width:1200px){
    .about p{
        width: 50%;
    }

    .about{
        height: 100vh;
    }
}

@media(max-width:1024px){
    .resume{
        min-height:100vh;
        overflow: auto;
    }

    .content-resume{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10em;
        gap: 3em;
    }

    .content-resume .contianer-experience{
        padding-top: -2em;
    }

    .content-resume .software-skills {
        text-align: center;
    }

    .content-resume .software-skills .language h2{
        border: unset;
        cursor: unset;
    }

    .content-resume .software-skills .skills h2{
        border: unset;
        cursor: unset;
    }



     /*WHAT CAN I DO*/
     .content-resume .container-creation .creation {
        text-align: center;
    }

    .content-resume .container-creation .creation .content-do{
        height: 0;
        overflow-y: hidden;
    }

     /*HIDE-SHOW CONTENT*/
     .content-resume .software-skills .contentSkills{
        height: 0;
        overflow-y: hidden;
        opacity: 0;  
    }

    .content-resume .software-skills #activebtn-skills{
        cursor: pointer;
        border: white 2px solid;
        border-radius: 5px;
        margin-bottom: 1em;

    }
    .content-resume .container-experience .education h2{
        text-align: center;
    }

    .content-resume .container-experience .education #activebtn-edu{
        text-align: center;
        cursor: pointer;
        border: white 2px solid;
        margin-right: auto;
        margin-left: auto;
        width: 270px;
        border-radius: 5px;
        margin-bottom: 1em;
    }

    .content-resume .container-experience .experience h2{
        border: unset;
        cursor: unset;
    }
       .creation .content-do .container-hobbies h2{
        border: unset;
        cursor: unset;
    }


    .content-resume .container-creation .creation #activebtn-creation{
        text-align: center;
        cursor: pointer;
        border: white 2px solid;
        width: 270px;
        border-radius: 5px;
        margin-bottom: 1em;
    
    }

    .content-resume .container-experience .education .content-edu{
        height: 0;
        overflow-y: hidden;
    }


}



   
